/* Main Header */

h1 {
    font-family: 'Permanent Marker';
    font-size: 100px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    background-image: url(./images/HD-wallpaper-anime-cityscape-night-buildings-balcony-stars-scenery-anime.jpg);
    height: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h2 {
    font-family: 'Permanent Marker';
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: rgb(92, 89, 89);
    text-align: center;
}

h3 {
    font-weight: bold;
    font-family: 'Permanent Marker';
    text-align: left;
}


p {
    text-align: left;
    color: black;
    font-size: 24px;
    min-width: 200px;
}

text {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.pictures {
    font-family: 'Permanent Marker';
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: rgb(92, 89, 89);
    justify-content: center;
    object-fit: cover;
}
.goals {
    font-family: 'Permanent Marker';
}
.socials {
    font-family: 'Permanent Marker';
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: rgb(92, 89, 89);
    text-align: center;
}


/* Rolling Picture */
.fk8 {
    width: 265px;
    display: inline-block;
    min-width: 50%;
    max-width: fit-content;
    height: auto;
}

@media only screen and (min-width: 200px) and (max-width: 265px) {
    .fk8 {
        width: 90%;
    }
}

/* Social Media */
.media {
    width: 150px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Instagram */



.breadcrumb > li {
    display: inline;
    text-align: center;
    margin: auto;
}

.breadcrumb li+li::before {
    padding: 10px;
    content: "-";
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb a:hover {
    color: white;
}

button {
    font-family: 'Permanent Marker';
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: 0px 4px;
}

button:hover {
    cursor: pointer;
    
}

button:visited {
    color: black;
}

button.highlight:hover {
    color: beige;
}

footer {
    background-color: aliceblue;
    
}